name: publish site
on:
  push:
    branches:
      - b_dev
  pull_request:
    branches:
      - b_dev
permissions:
  contents: write      
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          pip install sphinx
          pip install sphinx-rtd-theme
          pip install recommonmark
          pip install myst_parser
          pip install sphinxcontrib.mermaid
          pip install sphinx_copybutton
      - name: Build docs
        run: |
          cd docs
          make html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
          force_orphan: true

